:root {
  --mainColor: #181A23
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f6fc;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

body,
input,
textarea,
select,
button {
  font: 400 1rem sans-serif;
}

button {
  cursor: pointer;
}

@media (max-width:1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width:720px) {
  html {
    font-size: 87.5%;
  }
}